[submodule "packages/local/testpackage"]
	path = packages/local/testpackage
	url = https://eugenegordeiev@github.com/eugenegordeiev/testpackage
[submodule "packages/local/Testpackage"]
	path = packages/local/Testpackage
	url = https://eugenegordeiev@github.com/eugenegordeiev/Testpackage
